/* Color theme: 60%:lightblue
             30%:cadetblue
             10%:coral */

:root {
    --ua: calc(75dvh/88);
    --ub: calc(75dvw/63);
    --u: var(--ub);
    --margin: calc(2*var(--u));
    --card_height: calc(88*var(--u)); 
    --card_width: calc(63*var(--u));
    --border: calc(3*var(--u));
}
@media (min-aspect-ratio: 1/1) {
    :root {
        --u: var(--ua);
    }
}
@keyframes cover-flow {
    0%, 15% {
        transform: scale(.5);
        opacity: 0;
        z-index: 0;
    }
    20%, 45% {
        transform: scale(.75);
        opacity: .5;
        z-index: 1;
    }
    50% {
        transform: scale(1);
        opacity: 1;
        z-index: 10;
    }
    55%, 80% {
        transform: scale(.75);
        opacity: .5;
        z-index: 1;
    }
    85%, 100% {
        transform: scale(.5);
        opacity: 0;
        z-index: 0;
    }
}

body {
    background-color: lightblue;
}

#fast_links {
    
}
#fast_links li {
    display: inline-block;
    color: coral;
    font-weight: bold;
    font-size: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
}
#fast_links li:hover {
    color: lightblue;
    cursor: pointer;
    background-color: coral;
}

a {
    display: inline-flex;
}

#socials_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#job_div {    
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: calc(var(--card_width) * 2.5);
    max-width: 95vw;
    padding: 0;
    anchor-name: --my_carousel;
    scroll-marker-group: after;
    scroll-behavior: smooth;
    scrollbar-width: none;
    align-items: center;
    padding-bottom: 100px;
    background-color: lightblue;
    
    anchor-name: --my_carousel;
    scroll-marker-group: after;
    scrollbar-width: none;
}


#job_div::before, #job_div::after {
    content: '';
    flex: 0 0 calc(.9 * var(--card_width));
}
#job_div::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: black;
    opacity: .7;
    cursor: pointer;

    z-index: 100;
    pointer-events: auto;
}
#job_div::scroll-button(*):hover,
#job_div::scroll-button(*):focus {
    opacity: 1;
}
#job_div::scroll-button(*):active {
    translate: 1px 1px;
}
#job_div::scroll-button(*):disabled {
    opacity: .2;
    cursor: unset;
}
#job_div::scroll-button(left) {
    content: '◄' / 'Previous';
    position: fixed;
    position-anchor: --my_carousel;
    left: calc(anchor(left) + 10px);
    align-self: anchor-center;
}
#job_div::scroll-button(right) {
    content: '►' / 'Next';
    position: fixed;
    position-anchor: --my_carousel;
    right: calc(anchor(right) + 10px);
    align-self: anchor-center;
}
#job_div::-webkit-scrollbar {
    display: none;
}
#job_div::scroll-marker-group {
    position: absolute;
    position-anchor: --my_carousel;
    top: calc(anchor(bottom) - 60px);
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    gap: 20px;

    z-index: 100;
    pointer-events: auto;
}

.card_outer::scroll-marker {
    content: attr(data-accName);
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 16px;
    background-color: transparent;
}
.card_outer::scroll-marker:target-current {
    background-color: #000;
}



.card_outer {
    box-sizing: border-box;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex: 0 0 auto;
    width: var(--card_width);
    height: calc(88*var(--u));
    aspect-ratio: 63/88;
    border-color: black;
    border-style: solid;
    border-radius: calc(3*var(--u));
    background-color: black;
    margin: 0 calc(-.15 * var(--card_width));
    animation: cover-flow linear both;
    animation-timeline: view(inline);    
}    

.card_inner {
    height: calc(76*var(--u));
    aspect-ratio: 59/76;
    margin-top: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);
    border-radius: var(--margin);
    padding-top: calc(var(--margin)/2);
    background-color: forestgreen;
    vertical-align: top;
    border-radius: var(--margin) var(--margin) calc(2.5 * var(--margin)) calc(2.5 * var(--margin));   
}

.name_box {
    margin-top: var(--margin);
}

.text_bar {
    height: calc(5*var(--u));
    aspect-ratio: 55/5;
    margin-left: auto;
    margin-right: auto;
    border-radius: calc(3*var(--u))/calc(10*var(--u));
    background-color: gray;
    vertical-align: top;
    align-self: center;
    box-shadow: 0 0 0 calc(.5*var(--u)) lightsalmon, calc(1*var(--u))  calc(-1*var(--u)) calc(.25*var(--u)) calc(-.75*var(--u)) inset #404040, calc(-1*var(--u))  calc(1*var(--u)) calc(.25*var(--u)) calc(-.75*var(--u)) inset #c0c0c0;
    padding-left: 2%;
    line-height: calc(5*var(--u));
    overflow: hidden;
    font-weight: bold;
}

#name_box_text {
    white-space: nowrap;
}

#type_box_text {
    font-size: calc(1rem + 1vmin);
    width: 100%;
}

.image_box {
    height: calc(39*var(--u));
    aspect-ratio: 53/39;
    margin-top: calc(.6*var(--u));
    margin-bottom: calc(.6*var(--u));
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0 calc(.5*var(--u)) lightsalmon;
}

.text_box {
    height: calc(26*var(--u));
    aspect-ratio: 53/26;
    margin-top: calc(.6*var(--u));
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0 calc(.5*var(--u)) lightsalmon;
    background-color: navajowhite;
    font-size: clamp(.55rem, .17rem + 1.42vmin, 1rem);
}

.text_box ul {
    padding-left: 1%;
    margin: 0;
    list-style-type: none;
}

.text_box ul li {
    margin-bottom: calc(1*var(--u));
}

.power_box {
    width:fit-content;
    height: calc(4*var(--u));
    background-color: gray;
    float: right;
    border-radius: calc(3*var(--u))/calc(10*var(--u));
    box-shadow: 0 0 0 calc(.5*var(--u)) gray, calc(-1*var(--u)) calc(1*var(--u)) calc(.25*var(--u)) calc(-.75*var(--u)) inset #404040, calc(1*var(--u)) calc(-1*var(--u)) calc(.25*var(--u)) calc(-.75*var(--u)) inset #c0c0c0;
    font-size: calc(1em*var(--u));
    line-height: calc(4*var(--u));
    padding-left: calc(1*var(--u));
    padding-right: calc(1*var(--u));
    font-weight: bold;
    margin-top: calc(-2*var(--u));
}

#skills_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 75%;
    min-width: min-content;
    margin: 0 auto;
}

#skills_container input[type='radio'] {
    display: none;
}

#skills_container h3 {
    order: 1;
    margin: 0;
    flex: auto;
    text-align: center;
    min-width: 0;
}

#skills_container h3 label {
    display: block;
    width: 100%;
    padding: .75vh 1.5vw;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    background-color: cadetblue;
    border: 1px solid #4a8082;
    border-radius: 5px 5px 0 0;
    transition: background-color .3s ease;
    font-weight: 100;
    font-size: 1.5vw;
    color: white;
    opacity: .7;
    white-space: nowrap;

    position: relative;
    top: 1px;
    z-index: 1;
}

#skills_container ul.skill_content {
    order: 2;
    width: 100%;
    margin: 0;
    padding: 20px;
    border: 1px solid #4a8082;
    background: cadetblue;
    list-style-position: inside;
    display: none;

    position: relative;
    z-index: 1;
}

#skills_container h3 label:hover {
    opacity: .9;
    background-color: coral;
}

#skills_container input[type='radio']:checked + h3 + ul.skill_content {
    display: block;
    animation: fadeIn .4s ease forwards;
}

#skills_container input[type='radio']:checked + h3 label {
    background-color: cadetblue;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    opacity: 1;

    border-bottom: 1px solid cadetblue;
    z-index: 2;
}

ul.skill_content li {
    color: white;
    font-weight: bold;
    width: fit-content;
}
ul.skill_content li:hover {
    background-color: coral;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}