<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            sitename/title
        </div>
        <div id="fast-links">
            <ul>
                <li>Experience</li>
                <li>My Skills</li>
                <li>Socials</li>
                <li>Get to Know me</li>
            </ul>
        </div>
    </header>
    {% if content != none %}
    {% endif %}
    <div id="resume_content">
        <h2>{{ resume.blurb }}</h2>
        {% for job in resume.jobs.all %}
        <h3>{{ job.title }}</h3>
            {% for bullet in job.bullets.all %}
            <p>{{ bullet.text }}</p>
            {% endfor %}
        {% endfor %}
        {% for skill in resume.skills.all %}
        <h4>{{ skill.skill_name }}</h4>
        {% endfor %}
    </div>
    <div id="know_me">
        <div id="films">
            <ul>
                <li class="film" id="film_1">
                    <span class="title">placeholder film</span>
                    <img class="cover" src="">
                    <span class="director_publicationyear"></span>
                    <span class="blurb"></span>
                </li>
            </ul>
        </div>
        <div id="books">
            <ul>
                <li class="book" id="book_1">
                    <span class="title">placeholder book</span>
                    <img class="cover" src="">
                    <span class="author_publicationyear"></span>
                    <span class="blurb"></span>
                </li>
            </ul>
        </div>
        <div id="games">
            <ul>
                <li class="game" id="game_1">
                    <span class="title">placeholder game</span>
                    <img class="cover" src="">
                    <span class="publisher_publicationyear"></span>
                    <span class="blurb"></span>
                </li>
            </ul>
        </div>
        <div id="music">
            <ul>
                <li class="artist" id="artist_1">
                    <span class="title">placeholder music</span>
                    <img class="cover" src="">
                    <span class="artist_publicationyear"></span>
                    <span class="blurb">????to include or not to include</span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>